// @styles
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.order__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}