// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.header {
    display: flex;
    padding: $spacing-2xs;
    border-bottom: 1px solid $color__red;
}

.header__logo {
    background-image: url(https://0bba85283010b328c484-f139c7401b3658260f434c192b129add.ssl.cf3.rackcdn.com/pizzaplanetchatham.co.uk/manage/manage_uploads/upload/php4mKKUl.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    height: rem(40px);
    margin: 0;
    padding: 0;
}
