// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.header {
    display: flex;
    padding: $spacing-sm;
    border-bottom: 1px solid $color__red;
}

.header__logo {
    background-image: url(https://png2.kisspng.com/sh/f97790a03ce1d7481e78f119314fc8e9/L0KzQYm3VcI2N516jZH0aYP2gLBuTgBqgqtmReJ1YX7ohH75hgN1aaZ3edD9LXTofLr9hgJ6NaFukuxqLXLyiH73igp7aV5pitNCaX7qPYbpUMhjO2E6UNYBNHa3PoG4UsY0OWE8Sac7N0K8RoiAU8U4QWMziNDw/kisspng-pizza-planet-restaurant-delivery-pizza-box-pizza-drawing-5b08b3058d64f4.0126310715272967735792.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    height: rem(60px);
    margin: 0;
    padding: 0;
}
