// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.footer {
  height: rem(10px);
  padding: $spacing-sm; 
  background-color: $color__mid-gray;
  position: sticky;
  bottom: 0;
}
