// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.footer {
  height: rem(10px);
  width: 100%;
  padding: $spacing-sm; 
  background-color: $color__mid-gray;
  position: absolute;
  bottom: 0;
}
